.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

html {
  background-color: #95d5e0;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  transition: background 0.2s ease-in-out;
}

p {
  font-size: 2rem;
}
